<p>Your Lifestyle is <%=@user.lifestyle_type%>

<p>You will be eating <%=@food%> today!</p>

<article>
<%= @info["hits"][0]["fields"]["item_name"] %>
</article>
<br>
<article>
<%= @info["hits"][0]["fields"]["nf_calories"] %> calories
</article>
<br>
<article>
total fat: <%= @info["hits"][0]["fields"]["nf_total_fat"] %>
</article>

<p>Your work out will be:
  <article>
 <%=@exercise%> today!</p>
</article>


<p>Your Entertainment Will Be:
  <article>
  Title: <%=@entertainment[@number]["show_title"]%>
</article>
  <br>
  <article>
  Summary: <%=@entertainment[@number]["summary"]%>
  </article>
</p>

<footer><a href="/logout">Logout</a> </footer>
